# Connect to Postgres via the shared transaction-mode pooler (IPv4-only)
DATABASE_URL=""

# Connect to Postgres via the shared session-mode pooler (used for migrations)
DIRECT_URL=""

AUTH_SECRET="nIUYWlKL0Qf2c48CcEzFQ8KwzJ9h6payJD0TEhwjzNM="



AUTH_GOOGLE_ID="your_google_auth_id"
AUTH_GOOGLE_SECRET="your_google_auth_secret"



CLOUDINARY_API_KEY="your_cloudinary_api_key"
CLOUDINARY_API_SECRET="your_cloudinary_api_secret"

NODE_ENV = "development"

NEXT_PUBLIC_BASE_URL= "http://localhost:3000"

